.left-menu-wrapper{
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  min-width: 250px;
  height: 100%;
}
.menu-item{
  margin-top: 150px;
}
.quiz-box{
  width: 1000px;
  height: 700px;
  border: 1px solid black;
  margin-left: 100px;
  margin-top: 20px;
}
.quiz-multiple-choice{
  font-size: 36px;
}
#quiz-button{
  margin: 10px;
}
.dictionary-wrapper{
  
}
.toggle-rad-wrapper{
  margin: 20px;
}
.search-filter-button{
  margin: 0px 20px;
}
