body{
  background-image: url("./components/img/hanziwallpaper.jpg");
}
.main-page-wrapper{
  height: 100%;
}
.left-menu-wrapper{
  height: 100vh;
  text-align: center;
  background-color: black;
}
.menu-item{
  margin-top: 150px;
}
.menu-item h1{
  color: white;
  font-family: ;
}
.login-box h1{
  margin-left: 20px;
}
.login-box{
  display: inline-block;
}
.new-quiz-wrapper{
  margin-top: 10%;
  text-align: center;
}
#user-pass-input{
  border-radius: 5px;
  width: 200px;
  display: block;
  margin: 20px 20px;
}
.log-in-buttons{
  margin-left: 40px;
}


/*QUIZ HTML STUFF*/
.quiz-char-block{
  background-color: white;
  border-radius: 5px;
  display: inline-block;
}
.quiz-char-block h1{
  font-size: 180px;
}
.quiz-box{
  width: 1000px;
  height: 700px;
  margin-left: 50px;
  margin-top: 20px;
}
.quiz-multiple-choice{
  font-size: 36px;
}
.multi-choice{
  width: auto;
}
.multi-choice:hover{
  color: red;
  cursor: pointer;
  font-size: 36px;
}
#quiz-button{
  margin: 10px;
}
.jia-you{
  font-size: 78px;
  color: red;
}
.congrats-text{
  margin: 50px;
}
/*END QUIZ HTML STUFF*/



/*PROFILE HTML STUFF*/
.search-stuff-profile{
  min-height: 100px;
  overflow: hidden;
  margin-top: 50px;
  margin-left: 100px;
}
.search-filter-button{
  margin: 20px;
  text-align: right;
}
.toggle-rad-wrapper{
  margin: 20px;
}
.dictionary-wrapper {
  height: 79vh;
}
.dictionary{
  background-color: transparent;
  border-radius: 5px;
  height: 100%;
  overflow: scroll;
}
.radicals{
  position: absolute;
}
.dict-blocks{
  display: inline-block;
  margin: 20px 20px;
  border-radius: 5px;
  padding: 15px;
  background-color: darkgrey;
  color: white;
}
.dict-blocks:hover{
  display: inline-block;
  margin: 20px 20px;
  border-radius: 5px;
  padding: 15px;
  background-color: black;
  color: white;
}
/*END PROFILE HTML STUFF*/




.quote-div{
  font-family:fantasy;
}
.profile-name-wrapper{
  margin-top: 50px;
  text-align: center;
  background-color: black;
  border-radius: 7px;
  color: white;
}
.profile-image-wrapper{
  text-align: center;
  border-radius: 50%;
  border: 1px #e4e4e4 solid;
  padding: 20px;
  box-shadow: 0 0 6px #ccc;
  background-color: #fff;
}
.learning-mastered-list{
  margin: 20px 0px;
  height: 47vh;
  background-color: white;
  border-radius: 5px;
  overflow: scroll;
}
.learning-mastered-display{
  text-align: center;
  margin-top: 10%;
}
.chars-container{
  border: 1px solid lightgrey;
  border-radius: 7px;
  margin: 3px;
  display: inline-block;
  padding: 5px;
  text-align: center;
}
.chars-container:hover{
  border-radius: 7px;
  margin: 3px;
  display: inline-block;
  padding: 5px;
  text-align: center;
  background-color: darkgrey;
  color: white;
}
