
<div class="row">
  <div class="col-md-10">

    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div style="min-height: 200px"></div>
      <div class="login-box">
        <h1>LOG IN 登录</h1>
        <input type="text" placeholder="Username" id="user-pass-input">
        <input type="text" placeholder="Password" id="user-pass-input">
        <div class="log-in-buttons">
          <button type="button" class="btn btn-primary">Log In</button>
          <button type="button" class="btn btn-warning">Register</button>
        </div>
      </div>
      <div style="margin-top: 100px;">
        <h2>Hanzi Learner is the junction where worlds meet. You are not worthy.</h2>
      </div>
    </div>
    <div class="col-md-4 quote-div">
      <div style="min-height: 150px"></div>
      <h3>
        "If I knew how to read, I would be using Hanzi Learner everyday!!" <em>--BONO</em>
      </h3>
      <h3>
        "Anyone that don't use Hanzi Learner is whack yo!" <em>--THE POPE</em>
      </h3>
      <h3>
        "I am dead" <em>--ABRAHAM LINCOLN</em>
      </h3>
      <h3>
        "I use Hanzi Learner every single day. Ian is definitely going to win every award" <em>--DONTAVIOUS</em>
      </h3>
      <h3>
        "TARYN!!!" <em>--TARYN</em>
      </h3>
      <h3>
        "Ummmm.... Yeah,.......... wait... what??" <em>--JOE</em>
      </h3>
    </div>

  </div>
  <div class="col-md-2">
    <h1 style="font-size: 54px;">Hanzi Learner</h1>
    <h1 style="font-size: 148px;"><em>汉子学生</em></h1>
  </div>
</div>
