

<div class="row">



  <div class="col-md-1"></div>
  <div class="col-md-9">



    <div class="new-quiz-wrapper container-fluid" ng-show="quizToggle">

      <h1 style="font-size:60px;">Quiz 小考</h1>
      <div ng-click="toggleQuiz()">
        <button id="quiz-button" class="btn btn-success" ng-click="makeNewQuiz(levelValue)">New Quiz</button>
      </div>

      <select class="level-selector" id="quiz-button" ng-model="levelValue" placeholder="Select Level">
        <option value="" selected disabled>Select Level</option>
        <option ng-repeat="level in quizLevel">{{level.level}}</option>
      </select>

      <h3>
        <strong>New Quiz</strong> will randomly generate a list of ten new characters,
        depending on chosen difficulty level, and will only present characters that <em>{{currentUser.userName}}</em>
        hasn't seen yet.
      </h3>
      <h1>The set will repeat until all characters have been answered correctly at least <strong>two times</strong></h1>
      <h2>You can do it!!</h2>
      <h2>Practice makes perfect (孰能生巧)</h2>
      <h1 class="jia-you">加油</h1>

    </div>

    <div class="quiz-box" ng-hide="quizToggle">

      <div>
        <quiz-directive
            question="question"
            rand-pin="randPin"
            rand-def="randDef"
            check-pin-state="checkPinState()"
            check-def-state="checkDefState()"
            check-correct-state="checkCorrectState()"
            check-incorrect-state="checkIncorrectState()"
            check-answer="checkAnswer(initAnswer)"
            q-index="qIndex"
            quiz-length:"quizLength"
            check-finished-state="checkFinishedState()"
            pass-new-char="passNewChar()"
            play-sound="playSound(initChar)"
            make-new-quiz="makeNewQuiz(initLevel)"
        ></quiz-directive>
      </div>
      <!-- {{newQuiz}} -->
    </div>
  </div>
  <div class="col-md-2">
    <h1 style="font-size: 54px;">Hanzi Learner</h1>
    <h1 style="font-size: 148px;"><em>汉子学生</em></h1>
  </div>
</div>
